<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://static.firebase.com/v0/firebase.js"></script>

<!-- Adds the Filepicker.io javascript library to the page -->
<script src="https://api.filepicker.io/v1/filepicker.js"></script>
<script type="text/javascript">
  filepicker.setKey('AGVzlFdFvQqjmEVOUDtLgz');
  var singlyId = "<%- singly_id %>";
  var FB = null;
  function loggedIn(singlyId, accessToken) {
    FB = new Firebase('https://skeddy.firebaseio.com/' + singlyId);
    FB.set({'access-token': accessToken});
    window.singlyId = singlyId
  }

  $(function() {
    $('#filepicker').change(function(e) {
      var fpfile = e.originalEvent.fpfile;
      //alert(JSON.stringify(fpfile));
      filepicker.read(fpfile, function(data) {
        var lines = data.split("\n");
        for (var i in lines) {
          var line = lines[i];
          // parse each line through smart parser
          FB.child('todo_list').push({'text': line});
        }
      });
    });
  });

</script>

//Use a drag drop widget
<input id="filepicker" type="filepicker-dragdrop"/>

//Or how about a save widget
<button data-fp-mimetype="image/png"
  data-fp-url="http://www.filepicker.io/static/img/success.png">
     Save File</button>

<input type="text" id="authcode" />
 <a target="_blank" href="https://api.singly.com/oauth/authenticate?client_id=ff47da689272e350f27f65f0cf06313d&redirect_uri=http%3A%2F%2Flocalhost%3A7464%2Fcallback&account=false&service=twitter">Twitter</a>
