<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2>Skeddy</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="span5 offset1">
          <h3>Tasks</h3>
          <ul id="todo-list">
            <li>Test</li>
            <li>Test</li>
            <li>Test</li>
            <li>Test</li>
            <li>Test</li>
          </ul>
        </div>
        <div class="span4 well">
          <h3>Add Task</h3>
          <div class="add_task_input input-append span4">
            <input id="freeform_task" type="text" class="input-xlarge"><button class="btn btn-primary" type="button">Add</button>
            <div class="task_autofield_container">
              <div class="task_autofield">
                <span class="task_autofield_label">Task:</span>
                <span id="task_name" class="task_autofield_value"></span>
              </div>
              <div class="task_autofield">
                <span class="task_autofield_label">Time:</span>
                <span id="task_time" class="task_autofield_value"></span>
              </div>
              <div class="task_autofield">
                <span class="task_autofield_label">Location:</span>
                <span id="task_location" class="task_autofield_value"></span>
              </div>
              <div class="task_autofield">
                <span class="task_autofield_label">Notes:</span>
                <span id="task_notes" class="task_autofield_value"></span>
              </div>
            </div>
          </div>
          <p>Or upload a todo list from a file <input id="filepicker" type="filepicker-dragdrop"/></p>
        </div>
      </div>
    </div>



  <!-- <button data-fp-mimetype="image/png" data-fp-url="http://www.filepicker.io/static/img/success.png">Save File</button> -->

    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/task_entry.js" type="text/javascript"></script>
    <script src="https://static.firebase.com/v0/firebase.js"></script>
    <script src="https://api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript">
      filepicker.setKey('AGVzlFdFvQqjmEVOUDtLgz');
      var singlyId = "<%- singly_id %>";
      var FB = new Firebase('https://skeddy.firebaseio.com/' + singlyId);
      function loggedIn(singlyId, accessToken) {
        FB.set({'access-token': accessToken});
      }

      $(function() {
        $('#filepicker').change(function(e) {
          var fpfile = e.originalEvent.fpfile;
          filepicker.read(fpfile, function(data) {
            var lines = data.split("\n");
            for (var i in lines) {
              var line = lines[i];
              // parse each line through smart parser
              FB.child('todo_list').push({'text': line});
            }
          });
        });

        $('#todo-list').children().remove();
      });

    </script>
  </body>
</html>
