<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="pull-right">
            <h5><a href="/logout">Log out</a></h5>
          </div>
          <h2>Skeddy</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h3>Tasks</h3>
          <ul id="todo-list" class="unstyled">
          </ul>
        </div>
        <div class="span4 offset1 well">
          <h3>Add Task</h3>
          <div class="add_task_input input-append span5">
            <form class="form-inline">
              <input id="freeform_task" type="text" class="input-xlarge">
              <button id="freeform_task_submit" class="btn btn-primary" type="button">Add</button>
            </form>
            <div class="task_autofield_container">
              <div class="task_autofield">
                <span class="task_autofield_label">Task:</span>
                <span id="task_name" class="task_autofield_value"></span>
              </div>
              <div class="task_autofield">
                <span class="task_autofield_label">Location:</span>
                <span id="task_location" class="task_autofield_value"></span>
              </div>
              <div class="task_autofield" style="display: none;"><!-- Disable this useless field for now -->
                <span class="task_autofield_label">Time:</span>
                <span id="task_time" class="task_autofield_value"></span>
              </div>
              <div class="task_autofield">
                <span class="task_autofield_label">Time Estimate:</span>
                <span id="task_time_estimate" class="task_autofield_value">0</span>
                <span class="task_autofield_value">&nbsp;minute(s)</span>
              </div>
              <div class="task_autofield">
                <span class="task_autofield_label">Notes:</span>
                <span id="task_notes" class="task_autofield_value"></span>
              </div>
            </div>
          </div>
          <p>Or upload a todo list from a file
            <form class="form-inline">
              <input id="filepicker" type="filepicker-dragdrop"/>
            </form>
          </p>
        </div>
        <div class="span4">
          <h3>Schedule it!</h3>
          <p>When are you free? <input type="text" id="datepicker" />
           for <input type="text" id="duration" /> Hour(s)</p>
           <p id="#schedule-tip">
           <button class="btn btn-primary skeddit">Skeddit!</button></p>
        </div>
        <div class="span12">
          <hr>
          <div class="span3">
            <h5>Connected With</h5>
            <p>
              <% for (var i in connected_accounts) {%>
                <img src="http://assets.singly.com/service-icons/32px/<%= connected_accounts[i].service %>.png" width="32" height="32">
              <% } %>
            </p>
          </div>
          <div class="span3">
            <h5>Connect More Accounts</h5>
            <p><% include login %></p>
            <% if (!hasGoogle) { %><span class="help-block">For the full experience, please connect with Google</span><% } %>
          </div>
        </div>
      </div>
    </div>



  <!-- <button data-fp-mimetype="image/png" data-fp-url="http://www.filepicker.io/static/img/success.png">Save File</button> -->

    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.9.2.custom.js"></script>
    <script src="js/timepicker.js"></script>
    <script src="js/date2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/task_entry.js" type="text/javascript"></script>
    <script src="https://static.firebase.com/v0/firebase.js"></script>
    <script src="https://api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript">
      filepicker.setKey('AGVzlFdFvQqjmEVOUDtLgz');
      var singlyId = "<%- singly_id %>";
      var FB = new Firebase('https://skeddy.firebaseio.com/' + singlyId);
      var localTodo = [];
      function loggedIn(singlyId, accessToken) {
        FB.set({'access-token': accessToken});
        window.location = '/'
      }

      $(function() {
        $('#freeform_task_submit').click(function(e) {
          // Read values from auto-populated UI fields and commit them to Firebase.
          var taskName = $("#task_name").text();
          var location = $("#task_location").text();
          var timeEstimate = parseInt($("#task_time_estimate").text());
          var notes = $("#task_notes").text();
          FB.child('todo_list').push({
            'task': taskName,
            'location': location,
            'time_estimate': timeEstimate,
            'notes': notes
          });

          // Clear all UI fields.
          $("#freeform_task").val("");
          $("#task_name").text("");
          $("#task_location").text("");
          $("#task_time").text();
          $("#task_time_estimate").text("0");
          $("#task_notes").text("");
        });

        $('#filepicker').change(function(e) {
          var fpfile = e.originalEvent.fpfile;
          filepicker.read(fpfile, function(data) {
            var lines = data.split("\n");
            for (var i in lines) {
              var line = lines[i];
              var parseObj = parseFreeformTask(line);
              FB.child('todo_list').push({
                'task': parseObj.taskName,
                'location': parseObj.taskLocation,
                'time_estimate': parseObj.taskTimeEstimate,
                'notes': parseObj.taskNotes
              });
            }
          });
        });

        $('#todo-list a').live('click', function(e) {
          e.preventDefault();
          var itemRef = new Firebase($(this).data('ref'));
          itemRef.remove();
        });

        FB.child('todo_list').on('value', function(data) {
          $('#todo-list').children().remove();
          localTodo = [];
          data.forEach(function(item) {
            var itm = item.val();
            localTodo.push({ref: item.ref().toString(), task: itm.task, loc: itm.location, time: parseInt(itm.time_estimate), notes: itm.notes});
            var removeIcon = '<a data-ref="' + item.ref() + '" href="#"><i class="icon-remove pull-right"></i></a>';
            $('#todo-list').append('<li class="todo-item">' + removeIcon +
                "<div class='todo-item-line1'>" + itm.task + " at " + itm.location + "</div>" +
                "<div class='todo-item-line2'><i class='icon-time'></i><span class='todo-item-time-est'>" +
                itm.time_estimate + " minute(s)</span>" +
                (itm.notes.length > 0 ? "<i class='icon-info-sign'></i><span class='todo-item-notes'>" +
                itm.notes + "</span>" : "") + "</div></li>");
          });
          });

        $("#datepicker").datetimepicker();
        $(".skeddit").click(function() {
          var startTime = new Date($('#datepicker').val());
          var duration = 60 * parseInt($('#duration').val());
          var schedMe = [];
          var timeSpent = 0;
          var updatedTime = startTime;
          // find out which ones to sched
          for (var i in localTodo) {
            var todo = localTodo[i];
            var time = todo['time'];
            if (timeSpent + time < duration && !!todo['task']) {
              var msg = todo['task'] + " at " + todo['loc'] + " at " + updatedTime.toString("yyyy-MM-dd HH:mm") + " for " + todo['time'] + " mins - " + todo['notes'];
              schedMe.push({msg: msg, ref: todo['ref']});
              updatedTime = startTime.add(time).minutes();
            }
          }
          // sched them
          for (var i in schedMe) {
            var todo = schedMe[i];
            console.log(todo['msg']);
            var itemRef = new Firebase(todo['ref']);
            itemRef.remove();
            /*$.ajax({
              type: "POST",
              url: "/cal",
              data: todo
            }).done(function(data) {
              console.log(data);
              var itemRef = new Firebase(data);
              itemRef.remove();
            })*/;
          }
        });
      });

    </script>
  </body>
</html>
