.todo-item {
  height: 55px;
}

.todo-item-line2 {
  color: #B87;
  font-size: smaller;
  padding-left: 10px;
}

.todo-item-notes {
  padding-left: 4px;
}

.todo-item-time-est {
  display: inline-block;
  padding-left: 4px;
  width: 20%;
}

.icon-info-sign {
  margin-top: 0;
  opacity: 0.4;
}

.icon-time {
  margin-top: 0;
  opacity: 0.4;
}

.add_task_input {
  margin-left: 0;
}

.task_autofield_container {
  color: #777;
  padding: 0 0 15px 30px;
}

.task_autofield {
  margin-top: 3px;
  overflow: hidden;
}

.task_autofield_label {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  width: 90px;
}

.task_autofield_value {
  font-size: 11px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

